.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.subtitle {
    color: white;
    text-align: center;
}

hr {
    color: white;
    background-color: white;
    margin-bottom: 1em;
}

.subtitle .gear {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 600px;
}

.image-gontainer, .bad-boi {
    text-align: center;
}

#bad-boi img {
    width: 30%;
    max-width: 400px;
    min-width: 200px;
    border-radius: 5px;
    margin: 1em;
}
